#preload-01 { background: url(http://szczocik.ddns.net/images/0.png) no-repeat -9999px -9999px; }
#preload-02 { background: url(http://szczocik.ddns.net/images/1.png) no-repeat -9999px -9999px; }
#preload-03 { background: url(http://szczocik.ddns.net/images/2.png) no-repeat -9999px -9999px; }
#preload-04 { background: url(http://szczocik.ddns.net/images/3.png) no-repeat -9999px -9999px; }
#preload-05 { background: url(http://szczocik.ddns.net/images/4.png) no-repeat -9999px -9999px; }
#preload-06 { background: url(http://szczocik.ddns.net/images/5.png) no-repeat -9999px -9999px; }
#preload-07 { background: url(http://szczocik.ddns.net/images/6.png) no-repeat -9999px -9999px; }
#preload-08 { background: url(http://szczocik.ddns.net/images/7.png) no-repeat -9999px -9999px; }
#preload-09 { background: url(http://szczocik.ddns.net/images/8.png) no-repeat -9999px -9999px; }
#preload-10 { background: url(http://szczocik.ddns.net/images/9.png) no-repeat -9999px -9999px; }
#preload-11 { background: url(http://szczocik.ddns.net/images/tick.png) no-repeat -9999px -9999px; }
#preload-12 { background: url(http://szczocik.ddns.net/images/wrong.jpg) no-repeat -9999px -9999px; }