body {
	background:#EEEEEE !important;
}

.container {
	background:#EEEEEE !important;
}

h1 {
	text-align:center;
}

h3 {
	text-align:center;
	font-size:200% !important;
}

h2 {
	text-align:center;
}

button {
	width:150px;
}

.buttons {
	align:center;
	margin:auto;
}

#timer {
	text-align:center;
	margin:auto;
}
